body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(32, 25, 25, 0.1);


h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 20px;
  border: 2px solid #ff7eb9;
}

th {
  background-color: #ffcee6;
  font-weight: bold;
  color: #ff4384;
}

tr:nth-child(even) {
  background-color: #ffedf4;
}

/* Pagination styles */

.pagination {
  margin-top: 20px;
}

.pagination ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  padding: 10px 15px;
  text-decoration: none;
  color: #ff4384;
  border: 2px solid #ff7eb9;
  border-radius: 50px;
  background-color: #ffcee6;
  transition: background-color 0.3s ease;
}

.pagination a:hover {
  background-color: #ffdde4;
}

.pagination .active {
  background-color: #ff4384;
  color: #fff;
}
}